    <h1>Hot Flashes</h1>

    <table id="hotTable">
      <tr>
        <td>ADD DATES AND TIMES ABOVE</td>
      </tr>
     </table>
    <br>

    <button id="warm" onclick="hotFunc()">Hot</button>

    <h1>Chills</h1>
    <table id="coldTable">
      <tr>
        <td>ADD DATES AND TIMES ABOVE</td>
      </tr>
    </table>
    <br>

    <button id="cool" onclick="coldFunc()">Cold</button>
